<div class="container">

  <div class="form">
    <form [formGroup]="formGroup" class="login-form" (ngSubmit)="onSubmit()">
      <div class="login-form__title">
        <h1 *ngIf="registered">Log in</h1>
        <h1 *ngIf="!registered">Create Account</h1>
      </div>
      <div class="form__warning">
        <mat-card *ngIf="loginAgain$ | async">
          <mat-card-content>
            Please login to your account to get to the form-builder page
          </mat-card-content>
        </mat-card>
      </div>
      <mat-error *ngIf="auth.error$ | async as error">{{error}}</mat-error>
      <mat-form-field class="login-form__input-control">
        <mat-label>Login</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="formGroup.hasError('email', 'email') && !formGroup.hasError('required', 'email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="formGroup.hasError('required', 'email')">
          Email is not <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <hr *ngIf="!registered">
      <mat-form-field *ngIf="!registered" class="login-form__input-control">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formGroup.hasError('required', 'name')">
          Name is not <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <hr>
      <mat-form-field class="login-form__input-control">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="formGroup.hasError('minLength', 'password') && !formGroup.hasError('required', 'password')">
          Password must have more then 6 symbols length
        </mat-error>
        <mat-error *ngIf="formGroup.hasError('required', 'password')">
          Password is not <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="login-form__input-control">
        <button *ngIf="registered" mat-raised-button color="primary" [disabled]="formGroup.invalid || submitted"
          class="login-form__submit">Log in</button>
        <button *ngIf="!registered" mat-raised-button color="primary" [disabled]="formGroup.invalid || submitted"
          class="login-form__submit">Sing Up</button>
      </div>
      <div class="toggle">
        <span *ngIf="registered" class="text">If you haven't account please</span>
        <button *ngIf="registered" mat-raised-button (click)="accStatus(false)">Sing Up</button>
        <span *ngIf="!registered" class="text">If you have account please</span>
        <button *ngIf="!registered" mat-raised-button (click)="accStatus(true)">Sign In</button>
      </div>
    </form>
  </div>
</div>